<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Layout sayfası</title>
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

	<p>
		Burası butun sayfalarda gorunecek GENEL LAYOUT 
	</p>
	@RenderBody()
</body>
</html> 